:root {
  /* COLORS */
  --primary-050: #f5f3ff;
  --primary-100: #ede9fe;
  --primary-200: #ddd6fe;
  --primary-300: #c4b5fd;
  --primary-400: #a78bfa;
  --primary-500: #8b5cf6;
  --primary-600: #7c3aed;
  --primary-700: #6d28d9;
  --primary-800: #5b21b6;
  --primary-900: #4c1d95;
  --primary-950: #2e1065;

  --terceary-50: #fafafa;
  --terceary-100: #f4f4f5;
  --terceary-200: #e4e4e7;
  --terceary-300: #d4d4d8;
  --terceary-400: #a1a1aa;
  --terceary-500: #71717a;
  --terceary-600: #52525b;
  --terceary-700: #3f3f46;
  --terceary-800: #27272a;
  --terceary-900: #18181b;
  --terceary-950: #09090b;

  --danger-400: #d73628;
  --danger-500: #ad1e12;
  --danger-950: #42110d;

  --warning-400: #fba94c;
  --warning-500: #eb8a1d;
  --warning-950: #2e1b06;

  --success-400: #04d361;
  --success-500: #1b873f;
  --success-950: #051b0d;

  --info-400: #1ef7d0;
  --info-500: #07847e;
  --info-950: #163840;

  /* PADDING, MARGIN, GAP */
  --space-001: 0.25rem;
  --space-002: 0.5rem;
  --space-003: 0.75rem;
  --space-004: 1rem;
  --space-005: 1.25rem;
  --space-006: 1.5rem;
  --space-007: 1.75rem;
  --space-008: 2rem;
  --space-010: 2.5rem;
  --space-012: 3rem;
  --space-016: 4rem;
  --space-020: 5rem;
  --space-040: 10rem;
  --space-064: 16rem;
  --space-080: 20rem;

  /* BORDER RADIUS */
  --radii-px: 1px;
  --radii-xs: 2px;
  --radii-sm: 4px;
  --radii-md: 6px;
  --radii-lg: 12px;
  --radii-full: 99999px;

  /* FONT FAMILY*/
  --font-default: Roboto, sans-serif;
  --font-code: monospace;

  /* FONT SIZE */
  --font-xxs: 10px;
  --font-xs: 12px;
  --font-sm: 14px;
  --font-md: 16px;
  --font-lg: 20px;
  --font-xl: 28px;
  --font-2xl: 32px;
  --font-3xl: 40px;
  --font-4xl: 48px;

  /* FONT WEIGHT */
  --font-light: 400;
  --font-regular: 500;
  --font-semibold: 600;
  --font-bold: 700;

  /* BUTTON AND INPUT SIZE */
  --size-xs: 2rem;
  --size-sm: 2.5rem;
  --size-md: 3rem;
  --size-lg: 3.5rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-default);
}

body {
  color: var(--terceary-50);
  background-color: var(--terceary-950);
  font-weight: var(--font-regular);
}
